.habilidades {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(255, 255, 255);
    background-image: linear-gradient(to bottom, rgb(197, 212, 196) , rgb(196, 201, 214));
    color: #000000;
}

.habilidades-h1 {
    margin-top: 10px;
    margin-bottom: 20px;
    opacity: 1.0;
    animation-duration: 0.5s;
    animation-name: habilidadesh1;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes habilidadesh1 {
    from { 
		font-size: 0.0em;
    }
  
    to {
		font-size: 3.5em;
    }
  }

.habilidades-ul-inter {
    list-style: none;
    display: flex;
    flex-direction: column wrap;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 500;
    width: 100%;
    height: 60vh;
    transition: all linear 0.3s;
    animation-duration: 0.6s;
}

.habilidades-ul-inter-Unit {
    list-style: none;
    display: flex;
    flex-direction: row wrap;
    flex-flow: row wrap;
    justify-content: start;
    align-items: center;
    font-weight: 500;
    width: 80%;
    height: 60vh;
    gap: 30px;
    transition: all linear 0.3s;
    color: rgb(255, 255, 255);

    background: rgb(14, 14, 14);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border: 1px solid rgba(255, 255, 255, 0.48);
    padding: 4px 40px;
    overflow: auto;
}

.habilidades-ul-inter-Unit > p{
    transition: all linear 0.3s;
    color: rgb(255, 255, 255);
    font-size: 24px;
    overflow: auto;
}

#lisunit {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    margin: 5px;
    font-size: 1.0em;
    transition: all linear 0.3s;
    animation-duration: 0.7s;
    animation-name: lis;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

#lis {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    margin: 5px;
    font-size: 1.0em;
    transition: all linear 0.3s;
    animation-duration: 0.7s;
    animation-name: lis;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes lis {
    0% { 
        opacity: 0.0;        
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1.0;
    }
  }

#lis:hover {
    color: rgb(255, 255, 255);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    margin: 5px;
    font-size: 1.0em;
    transition: all linear 0.5s;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(92,86,207,1) 27%, rgba(104,83,189,1) 38%, rgba(80,170,172,1) 48%, rgba(132,75,146,1) 64%, rgba(144,72,128,1) 75%, rgba(171,65,87,1) 100%);
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    animation-duration: 1.9s;
    animation-name: habilidades-h1;
    animation-fill-mode: forwards;
    animation-iteration-count:infinite;
}

@keyframes habilidades-h1 {
    0% { 
        opacity: 0.0;        
    }

    50% {
        opacity: 1.0;
    }

    100% {
        opacity: 0.0;
    }
  }

.nodejs {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.navegarPost, .navegarAnt {
    border-radius: 50%;
    font-size: 36px;
    font-weight: bold;
    transition: all linear 0.3s;
    cursor: pointer;
    position: relative;
    color: rgb(49, 47, 47);
    width: 35px;
    height: 35px;
    background-color: rgb(214, 207, 207);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navegarPost:hover, .navegarAnt:hover {
    border-radius: 50%;
    font-size: 36px;
    font-weight: bold;
    transition: all linear 0.2s;
    cursor: pointer;
    color: rgb(49, 47, 47);
    width: 30px;
    height: 30px;
    background-color: rgb(214, 207, 207);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgb(92, 92, 92);

}