* {
    margin: 0;
}
body {
    background-color: rgb(186, 220, 229);
    padding: 20px 15px;
}
strong {
    font-size: 16px;
    font-style: oblique;
}
em {
    font-size: 14px;
    font-style: oblique;
}
ol {
    font-family:  monospace, sans-serif;
}
span {
    font-weight: 600;
    font-size: larger;
    color: #006868;
    margin-left: 20px;
    display: inline-block;
}
span:hover {
    font-weight: 600;
    font-size: larger;
    color: rgb(221, 119, 23);
    margin-left: 20px;
    display: inline-block;
}
#h1-nome {
    font-family: Verdana;
    font-size: 36px;
    font-weight: 600;
    color: rgb(116, 69, 25);
    text-align: center;
}
#descricao-conteudo {
    font-family: monospace;
    font-weight: 400;
    text-align: justify;
    font-size: 14px;
    margin: auto;
    padding: 20px;
    border: 5px dashed rgb(210, 241, 234);
}
#indice, #descricao, #habilidades, #blog {
    font-size: 24px;
    font-weight: 600;
    display: inline-block;
    color: rgb(116, 69, 25);
}
.habilidades {
    margin-bottom: 15px;
}
.li-1, .li-2, .li-3, .li-4, .li-5 {
    margin-left: 20px;
}
.li-1 {
    font-size: 20px;
    font-weight: 800;
    margin-left: 20px;
}
.li-2 {
    font-size: 19px;
    font-weight: 900;
}
.li-3 {
    font-size: 18px;
}
.li-4 {
    font-size: 17px; 
}
.li-5 {
    font-size: 16px;
}
.li-ul {
    text-decoration: none;
    font-size: 18px;
    color: black;
}
.li-ul:hover {
    text-decoration: underline;
    font-size: 18px;
    color: black;
}
.btn-blog {
    font-size: 22px;
    color: black;
    background-color: rgb(221, 119, 23);
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-family: monospace, sans-serif;
    margin-left: 7px;
}
.btn-blog:hover {
    font-size: 22px;
    color: black;
    background-color: rgb(214, 167, 124);
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-family: monospace, sans-serif;
    margin-left: 7px;
}
.img-foto{
    border-radius: 200px;
    width: 250px;
}
.paragrafo-descricao {
    padding: 10px 15px;
    width: 80%;
}
.div-nome {
    /* border: 1px solid #000000; */
    margin: 10px;
}
.div-class-img-habilidades {
    background-color: rgb(210, 241, 234);
    border-radius: 200px;
    padding: 18px;
    width: 250px;
    margin-left: 15px;

}
.div-img {
    background-color: rgb(210, 241, 234);
    padding: 15px;
    border-radius: 200px;
}
.div-class-descricao {
    margin-left: 15px;
    margin-top: 65px;

}
ol > li:nth-child(even) {
    text-transform: lowercase;
}
.div-juncao, .div-indice-indice, .div-img-descricao , .div-blog {
    margin-top: 5px;
    padding: 10px;
    display: inline-flex;
}
.div-habilidades{
    width: 170px;
    border-radius: 50px 50px 50px 0;
    margin: 10px 0 0 40px;
}
.div-class-blog-afinados {
    margin-top: 20px;
}
#blog {
    margin-bottom: 20px;
}
.div-juncao-divs {
    margin-right: auto;
    margin-left: auto;
    width: 70%;
}
#descricao {
    margin: 10px;
}
.ul-blog {
    padding: 5px;
    list-style: none;
    display: inline-flex;
}