* {
    margin: 0;
}
body {
    background-color: rgb(186, 220, 229);
    padding: 20px 15px;
}
strong {
    font-size: 16px;
    font-style: oblique;
}
em {
    font-size: 14px;
    font-style: oblique;
}
ol {
    font-family:  monospace, sans-serif;
}
span {
    font-weight: 600;
    font-size: larger;
    color: darkcyan;
}
#nome {
    font-family: Verdana;
    font-size: 36px;
    font-weight: 600;
    color: rgb(116, 69, 25);
    text-align: center;
}
#descricao-conteudo {
    font-family: monospace;
    font-weight: 400;
    text-align: justify;
    font-size: 14px;
}
#indice, #descricao, #habilidades, #blog {
    font-size: 24px;
    font-weight: 600;
    color: rgb(116, 69, 25);
}
.li-1, .li-2, .li-3, .li-4, .li-5 {
    margin-left: 20px;
}
.li-1 {
    font-size: 20px;
    font-weight: 800;
    margin-left: 20px;
}
.li-2 {
    font-size: 19px;
    font-weight: 900;
}
.li-3 {
    font-size: 18px;
}
.li-4 {
    font-size: 17px; 
}
.li-5 {
    font-size: 16px;
}
.li-ul {
    text-decoration: none;
    font-size: 18px;
    color: black;
}
.li-ul:hover {
    text-decoration: underline;
    font-size: 18px;
    color: black;
}
.btn-blog {
    font-size: 22px;
    color: black;
    background-color: rgb(221, 119, 23);
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-family: monospace, sans-serif;
}
.img-foto{
    border-radius: 200px;
    width: 250px;
}
.paragrafo-descricao {
    padding: 10px 15px;
    width: 80%;
}
.div-class-nome-indice {
    /* border: 2px solid #000000; */
    margin: 10px;
}
.div-class-img-descricao {
    /* border: 2px solid #000000; */
    display: flex; 
    margin: 10px;
    margin-left: 60px;
    margin-top: 80px;
    width: 90%;

}
.div-img {
    background-color: rgb(210, 241, 234);
    padding: 15px;
    border-radius: 200px;
}
.div-h2-ul-indice {
    /* border: 2px solid #000000; */
    margin: 0;
    padding: 10px;
    border-radius: 0 50px 50px 50px;
    position: absolute;
    background-color: rgb(210, 241, 234);
}
.div-h2-ul-indice > h2 > ul > li {
    display: flex;
}
.div-h2-ol-habilidades {
    margin: 0;
    padding: 10px;
    border-radius: 0 50px 50px 50px;
    position: absolute;
    background-color: rgb(210, 241, 234);
    
}
.div-class-descricao {
    margin-top: 20px;
    padding: 20px;
}
.habilidades {
    padding: 100px;
}
ol > li:nth-child(even) {
    text-transform: lowercase;
}
.div-h2-blog {
    position: absolute;
    margin-bottom: 20px;
    margin-left: 330px;
    padding: 15px;
    /* border: 2px solid #000000; */
}
.div-h2-blog > h2 {
    padding: 15px;
}
