form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 55%;
    gap: 20px;
    font-size: 22px;
    text-align: justify;
    color: #222;
    background-color: rgb(44, 44, 44);
    padding: 30px;
    border-radius: 10px;
    border: 2px solid rgb(44, 44, 44);
    box-shadow: 1px 1px 5px 5px rgba(3, 3, 3, 0.363);
    margin-bottom: 150px;
    background-color: rgba(3, 3, 3, 0.363);
}


input {
  padding: 6px;
  font-size: 20px;
  width: 88%;
  background-color: rgba(145, 143, 143, 0.363);
}

.input-submit {
  width: 70%;
  cursor: pointer;
}

textarea {
  padding: 10px;
  font-size: 22px;
  max-width: 88%;
  min-width: 88%;
  max-height: 160px;
  min-height: 160px;
  background-color: rgba(145, 143, 143, 0.363);
}

.Form-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.enviado {
  display: none;
  width: 100%;
  height: auto;
  font-size: 26px;
  background-color: rgb(131, 216, 51);
  z-index: 1;
  padding: 10px;
}

.visivel {
  display: flex;
}